<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://mvc/1.0" 
       class = "fr.nantes.univ.alma.mvc.mvc.MvcPackage"
       genModel = "fr/nantes/univ/alma/mvc/Language.genmodel" /> 
	
  </extension>




</plugin>
